body {
  height: 512px;
  width: 512px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.image-dialog-container {
  position: absolute;
  top: 256px;
  left: 256px;
  width: 450px;
  height: 375px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.plus-sign {
  position: absolute;
  top: 50px;
  left: 240px;
  font-size: 26px;
  font-weight: bold;
}

.rune-counter-container {
  position: absolute;
  top: 450px;
  left: 256px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.burger-menu-container {
  display: flex;
  position: absolute;
  top: 25px;
  left: 480px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.close-button-container {
  display: flex;
  position: absolute;
  top: 20px;
  left: 480px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.image-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.text-pill {
  background-color: #565656;
  color: #fff;
  padding: 8px 16px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.text-pill:hover {
  background-color: #6d6d6d;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}


.collection-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

canvas {
  border: 2px solid #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  position: relative;
  display: inline-block;
}

.number-box {
  width: 450px;
  height: 70px;
  background: white;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.number {
  font-size: 55px;
  color: black;
}

.decorator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 15px;
}

.multiplier {
  background: black;
  color: white;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 50px;
  transform: translate(50%, -50%);
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.burger-bar {
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.modal-text {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.modal-text h2 {
  color: #333;
  margin-bottom: 0px;
}

.info {
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px;
}

.multiplier-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.multiplier-info span {
  font-size: 24px;
  color: #333;
}

.multiplier-value {
  font-weight: bold;
}

.view-link {
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.view-icon {
  margin-left: 5px; /* Space between 'View' text and icon */
}

.close-button {
  color: white; /* 'X' color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  cursor: pointer;
  opacity: 0.8; /* Makes the background slightly transparent */
}

.close-button:hover {
  opacity: 1; /* Fully opaque on hover */
}