<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdn.jsdelivr.net/npm/cbor-js@0.1.0/cbor.js"></script>
  <meta charset="utf-8" />
  <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <img src="img/miner.gif" />
  <div id="imageDialog" class="image-dialog-container" style="display: none;">
    <div class="image-container">
      <div>
        <img class="collection-image" src="/img/1.webp" alt="Burial Image">
        <a href="#" class="view-link">View <span class="view-icon">🔗</span></a>
      </div>
      <p class="plus-sign">+</p>
      <div>
        <img class="collection-image" src="/img/9997.png" alt="Skeleton Image">
        <a href="#" class="view-link">View <span class="view-icon">🔗</span></a>
      </div>
    </div>
    <div class="modal-text">
      <h2>Started Mining</h2>
      <p class="info">Block 834059</p>
      <h2>Multiplier</h2>
      <span id="dialogMultiplierDisplay" class="info"></span>
    </div>
  </div>
  <div id="runeCounter" class="rune-counter-container" style="display: block;">
    <div class="container">
      <div class="number-box">
        <span id="totalRunesDisplay" class="number"></span>
        <span class="decorator">ᛄᚴᛃᛂᛒᛓᛙ</span>
      </div>
      <div id="counterMultiplierDisplay" class="multiplier"></div>
    </div>
  </div>
  <div class="burger-menu-container">
    <div id="burgerMenu" class="burger-menu">
      <div class="burger-bar"></div>
      <div class="burger-bar"></div>
      <div class="burger-bar"></div>
    </div>
  </div>
  <div class="close-button-container">
    <div class="close-button" style="display: none;">x</div>
  </div>
  <script src="/main.js" defer></script>
</body>

</html>