<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <script
      type="text/javascript"
      src="https://ordinals.com/content/a9f6a9b050af3de1a4ce714978c1f2231ba731f1f46731a16d0e411f89308566i0"
    ></script>
  </head>

  <body>
    <main class="c">
      <img
        class="bg-img"
        src="https://ordinals.com/content/e819480c27e693055e86c31d2dc7678b7985cdd76efbe761f2d09fa776dc0180i0"
      />
      <section id="metadata" class="meta">
        <header class="meta-h">
          <div class="img-c">
            <a id="burial-a" href="#" target="_blank">
              <img id="burial" class="meta-img" src="#" />
            </a>
            <a id="boney-a" href="#" target="_blank">
              <img id="boney" class="meta-img" src="#" />
            </a>
            <span class="m" id="multiplier"></span>
          </div>
          <p class="rc" id="runeCount"></p>
        </header>
        <ul class="meta-l">
          <li class="meta-l-i">
            <h2>Name</h2>
            <p id="name"></p>
          </li>
          <li class="meta-l-i">
            <h2>Started Mining</h2>
            <p id="start-height"></p>
          </li>
        </ul>
      </section>
      <button id="toggle" class="t">💀</button>
    </main>
    <script type="text/javascript" src="/main.js" defer></script>
  </body>
</html>
