<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <main class="container">
      <img
        class="bg-img"
        src="https://ordinals.com/content/e819480c27e693055e86c31d2dc7678b7985cdd76efbe761f2d09fa776dc0180i0"
      />
      <section id="metadata" class="metadata">
        <header class="meta-header">
          <div class="img-container">
            <a id="burial-a" href="#" target="_blank">
              <img id="burial" class="meta-img" src="#" />
            </a>
            <a id="boney-a" href="#" target="_blank">
              <img id="boney" class="meta-img" src="#" />
            </a>
            <span class="multiplier" id="multiplier"></span>
          </div>
          <p class="rune-count" id="runeCount"></p>
        </header>
        <ul class="metadata-list">
          <li class="metadata-list-item">
            <h2>Name</h2>
            <p id="name"></p>
          </li>
          <li class="metadata-list-item">
            <h2>Started Mining</h2>
            <p id="start-height"></p>
          </li>
        </ul>
      </section>
      <button id="toggle" class="toggle">💀</button>
    </main>
    <script src="/main.js" defer></script>
  </body>
</html>
